.popup {
    position: fixed;
    top: 14%;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #222222;

    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-inner {
    position: relative;
    padding: 32px;
    width: 100%;
    max-width: 80%;
    height: 80%;
    z-index: 999;
    background-color: black;
    .close-btn {
        position: absolute;
        top: 16px;
        right: 16px;
    }
}

